/* Add CSS Styling */

.odd {
	background-color: #f8c6cc;
	font-family: Verdana, "DejaVu Sans", sans-serif;
}

#e1 {
	color: #0000FF;
	font-size: 36px;
}

.odd3 {
	font-size: 24px;
}


#e2 {
	background-color: #90EE90;
	font-weight: bold;
}